@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color:#ffffff;
  --text-color:#242424;
  --element-bg:#ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  height: 100%;
}
[data-theme = "dark"]{
  --bg-color: #272829;
  --text-color: #ffffff;
  --element-bg: #3b3e42;
}
.expense-form, .expense-table{background-color: var(--element-bg);}
input,select{background-color: var(--element-bg); color: var(--text-color);}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  position: relative;
  background-color: var(--bg-color);
  color:var(--text-color);
  height:100%;

}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button { 
  cursor: pointer;
  transition: all 1s ease-in-out;
}


@media screen and (max-width:575px) {
  h1 {
      font-size: 1.2em;
      line-height: 1.1; }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
  
}
